---
title: Home
description: The latest app to help you find new friends with common interests.
<!--image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png-->
image: /images/background.jpg
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">河北金谷仓企业管理有限公司</h1>
			<p class="subtext editable">公司面向国内外 3000多家医院，注重有疾病治疗型 向健康管理转型，未病预防，调养，康复，养生同一理念。</p>
			<div class="cta button alt"><a href="/about/">加入我们</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">更多信息<span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">金谷仓加盟申请表</h2>
				<p class="editable">Making news homes in the adult world is hard.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/random/650x1303" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">金谷仓加盟条件及流程</h2>
				<p class="editable">The more you tell us the better it gets to know you. Our team matches you with best design who share similar interests with you.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/random/650x1302" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">金谷仓加盟条件及流程</h2>
				<p class="editable">Evan shows you our finished projects.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/random/650x1301" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">金谷仓区县运营中心加盟协议</h2>
				<p class="subtext editable">It's free, fun and an exciting way to build a new home.</p>
<!--				<div class="cta button alt"><a href="#">Join Now</a></div>-->
			</div>
		</div>
	</section>
</div>
