---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Evan's Renovation and Build Pty Ltd</h1>
			<p class="subtext editable">my company helps you find new friends with common interests. Search for a new Tennis partner, find a baking side-kick or befriend a new drinking buddy.</p>
<!--			<div class="cta button alt"><a href="#">Join Now</a></div>-->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Introduce</h2>
				<p class="editable">Making news homes in the adult world is hard.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/random/650x1303" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Pick your best local builder</h2>
				<p class="editable">The more you tell us the better it gets to know you. Our team matches you with best design who share similar interests with you.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/random/650x1302" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Found and handshake</h2>
				<p class="editable">Evan shows you our finished projects.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://source.unsplash.com/random/650x1301" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Renovation and Building</h2>
				<p class="subtext editable">It's free, fun and an exciting way to build a new home.</p>
<!--				<div class="cta button alt"><a href="#">Join Now</a></div>-->
			</div>
		</div>
	</section>
</div>
